<h1 class="d-flex text-info justify-content-center align-items-center mb-4">{{title}}</h1>
<form class="d-flex justify-content-center align-items-center mb-4">
  <div class="form-outline flex-fill ">
    <input type="text" 
    [value]="text"
    (keyup)="changeText($event)"
    class="form-control" 
    placeholder="Click to Enter New task..." />
    <!-- <label class="form-label" for="form2">Click to Enter New task...</label> -->
  </div>
  <button type="button" class="btn btn-info ms-2" (click)="addToTodo()">Add
  </button>
</form>
